
.pageBox {
    background-color: #fff;
    box-shadow: 1px 1px 4px #797878;
    // margin: 1.6rem 1rem;
    // padding: 5px;
    border-radius: 5px;
    height: 520px;
    position: relative;
    table
    {
    width: 100%;
    }
    table thead
    {
    border-bottom: 1px solid #f7f7f7;
    }
}
